{% extends 'layout.html.twig' %}

{% block title %}
    {{parent()}} - Accueil
{% endblock %}

{% block content %}
<form class="" action="/addSong" method="post">
    <div class="form-floating mb-3">
        <input name="url" type="text" class="form-control rounded-4" id="adding-url" placeholder="url">
        <label for="adding-url">Copie/Colle ton url ici</label>
    </div>
    <button id="btn-adding" name="adding" class="w-100 mb-2 btn btn-lg rounded-pill " type="submit">Envoyer</button>
</form>
    {{ dump(music) }}
    {{ music.title_only }}
    {{ music.author }}
{% endblock %}