.navbar {
    background-color: #D32500  !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.nav-link {
    color: white !important;
}

.navbar{
    background: linear-gradient(-400deg, #ff4400, #920000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.navbar-brand {
    position: relative;
    margin-left: 2%;
}