<div class="position-absolute container justify-content-center p-0">
    <div class="" id="player-container">
        <iframe
                id='video-player'
                class="shadow-1-strong rounded"
                src="https://www.youtube.com/embed/{{ music.url }}"
                title="YouTube video"
                allowfullscreen
                allow="autoplay; encrypted-media"
        ></iframe>
    </div>
</div>