<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<div>
    <i class=" fa-3x fas fa-headphones logo "></i><h1>BLIND UP </h1>
</div>

<div>
<a href="/game/tout-afficher" class="btn">Games</a>
<a href="/profil" class="btn">profil</a>
<a href="/classement" class="btn">Classement</a>
{% if session.register is not defined %}
    <a class="nav-link m-3 fs-5 override-red-over active" href="/deconnecter"><i class="fas fa-sign-out-alt override-red"></i> Déconnexion</a>
{% endif %}
</div>