<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

<h1>blind up</h1>

<a href="/game/tout-afficher" class="btn">Games</a>
<a href="#" class="btn">profil</a>
<a href="/classement" class="btn">Classement</a>


