<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<div>
    <i class=" fa-3x fas fa-headphones logo "></i><h1>BLIND UP </h1>
</div>

<div>
<a href="/game/tout-afficher" class="btn">Games</a>
<a href="#" class="btn">profil</a>
<a href="/classement" class="btn">Classement</a>
</div>

git status