{% extends 'layout.html.twig' %}


{% block content %}
    <div class="container text-center justify-content-center">
     <div class="card-leader ">
        <div class="header ">
            <i class="arrow fas fa-chevron-left"></i>
            <h3 class="title">Classement</h3>
            <div></div>
        </div>
        <div class="sort">
            <div class="day">Today</div>
        </div>
        <div class="profile">
            <div class="person second">
                <div class="num">2</div>
                <i class="fas fa-caret-up"></i>
                <img src="https://avatars.githubusercontent.com/u/37875485?v=4" alt="" class="photo">
                <p class="link">Alexandre</p>
                <p class="points">8023</p>
            </div>
            <div class="person first">
                <div class="num">1</div>
                <i class="fas fa-crown"></i>
                <img src="https://avatars.githubusercontent.com/u/84631197?v=4" alt="" class="photo main">
                <p class="link">Iliess</p>
                <p class="points">8122</p>
            </div>
            <div class="person third">
                <div class="num">3</div>
                <i class="fas fa-caret-up"></i>
                <img src="https://avatars.githubusercontent.com/u/83349185?v=4" alt="" class="photo">
                <p class="link">Charle</p>
                <p class="points">7884</p>
            </div>
        </div>
        <div class="rest">
            <div class="others flex">
                <div class="rank">
                    <i class="fas fa-caret-up"></i>
                    <p class="num">4</p>
                </div>
                <div class="info flex">
                    <img src="https://avatars.githubusercontent.com/u/87068128?v=4" alt="" class="p_img">
                    <p class="link">Xavier</p>
                    <p class="points">861</p>
                </div>
            </div>
        </div>
     </div>
    </div>



{% endblock %}